<footer class="footer flex-container">
    <div class="widget-area flex-item">
      <h3 class="widget-title">
        Redes Sociais
      </h3>
      <div class="widget-content">
        <div class="widget-item">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
            <p class="font-size-small">Facebook</p>
          </a>
        </div>
        <div class="widget-item">
          <a href="#">
            <i class="fab fa-instagram-square"></i>
            <p class="font-size-small">Instagram</p>
          </a>
        </div>
        <div class="widget-item">
          <a href="https://github.com/diegomatos321">
            <i class="fab fa-github-square"></i>
            <p class="font-size-small">GitHub</p>
          </a>
        </div>
      </div>
    </div>
    <div class="widget-area flex-item">
      <h3 class="widget-title">
        Entre em Contato
      </h3>
      <div class="widget-content">
        <div class="widget-item">
          <a href="mailto:diegomatos@devdiegomatos.com.br">
            <i class="fas fa-envelope-square"></i>
            <p class="font-size-small">diegomatos@devdiegomatos.com.br</p>
          </a>
        </div>
        <div class="widget-item">
          <a href="tel:+5521995121978">
            <i class="fas fa-phone-square-alt"></i>
            <p class="font-size-small">Telefone: (21) 9 9512-1978</p>
          </a>
        </div>
      </div>
    </div>
  </footer>