<header class="header">
  <figure class="img logo">
    <a href="/">
      <img src="/uploads/imagens/logo.webp" alt="Logo do site" />
    </a>
  </figure>
  <nav class="main-nav">
    <ul class="nav">
      <li class="nav-item item-home">
        <a href="/">Home</a>
      </li>

      <li class="nav-item item-about">
        <a href="/#about">Sobre Mim</a>
      </li>

      <ul class="nav-item sub-nav item-trabalhos">
        <li>
          <a href="/trabalhos">Trabalhos</a>
        </li>
        <ul class="drop-down">
          <li class="sub-nav-item">
            <a href="/trabalhos/flappybird">FlappyBird</a>
          </li>
          <li class="sub-nav-item">
            <a href="/trabalhos/jogo-da-nave">Jogo da Nave</a>
          </li>
          <li class="sub-nav-item">
            <a href="/trabalhos/super-mario">Super Mario</a>
          </li>
        </ul>  
      </ul>

      <li class="nav-item item-contato">
        <a href="/contato">Contato</a>
      </li>
    </ul>
  </nav>
</header>