<section id="home">
  <div class="container-apresentacao">
    <h1>Desenvolvedor Full Stack</h1>
    <figure>
      <img src="/uploads/imagens/foto-perfil.webp" alt="Foto de Perfil" />
      <figcaption>Desenvolvedor Diego Matos</figcaption>
    </figure>
    <div class="flex-container areas-trabalho">
      <div class="flex-item front-end">
        <h2>Front End</h2>
        <ul>
          <li>
            <i class="fas fa-check"></i>
            HTML5
          </li>
          <li>
            <i class="fas fa-check"> </i>
            CSS 3
          </li>
          <li>
            <i class="fas fa-check"></i>
            JavaScript
          </li>
          <li>
            <i class="fas fa-check"></i>
            React
          </li>
          <li>
            <i class="fas fa-check"></i>
            WordPress
          </li>
        </ul>
      </div>
      <div class="flex-item back-end">
        <h2>Back End</h2>
        <ul>
          <li>
            <i class="fas fa-check"> </i>
            Node JS
          </li>
          <li>
            <i class="fas fa-check"></i>
            Express
          </li>
          <li>
            <i class="fas fa-check"></i>
            MongoDB
          </li>
        </ul>
      </div>
      <div class="flex-item">
        <h2>Outras Linguagens</h2>
        <ul>
          <li>
            <i class="fas fa-check"></i>
            C#
          </li>
          <li>
            <i class="fas fa-check"></i>
            MySQL
          </li>
        </ul>
      </div>
    </div>
    <div class="buttons flex-container">
      <a class="flex-item btn" href="/#about">
        Saiba Mais
      </a>
      <a class="flex-item btn" href="/uploads/documentos/curriculum.word" download>
        Baixe o meu curriculum
      </a>
      <a class="flex-item btn" href="https://github.com/diegomatos321/Portfolio-Node" target="_blank">
        Veja esse site no GitHub
      </a>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <h2 class="title">Sobre Mim</h2>
    <hr />
    <p>
      Olá, meu nome é
      <strong>Diego Vasconcelos Schardosim de Matos</strong>, sou
      <strong>estudante</strong> de <strong>Ciência da Computação</strong> na
      UFRJ e um entusiasta por jogos. Meu conhecimento Web veio atráves da
      necessidade de <strong>lecionar aulas</strong> de <strong>HTML</strong>,
      <strong>CSS</strong> e <strong>JavaScript</strong> moderno utilizando os
      jogos como meio de aprendizagem em alguns cursos de tecnologia, abrangendo
      áreas de <strong>Front-End</strong> e <strong>Back-End</strong>. Ainda sou um
      novato mas estarei sempre me empenhando em aprender e melhorar.
    </p>
  </div>
</section>

<section id="trabalhos">
  <div class="container">
    <h2 class="title">Trabalhos</h2>
    <hr />
    <p>Veja alguns de meus <strong>trabalhos</strong>:</p>
    <div id="mansory-grid" class="mansory-grid">
      <a href="/trabalhos/flappybird" class="mansory-item">
        <article>
          <figure>
            <img class="img" src="/uploads/imagens/flappybird.webp" alt="Imagem do jogo FlappyBird"
              title="Imagem do jogo FlappyBird" />
            <figcaption>
              <strong>Clone</strong> do <strong>FlappyBird</strong> com
              <strong>banco de dados</strong>, usando <strong>Node JS</strong> e
              <strong>MongoDB</strong> no BackEnd
            </figcaption>
          </figure>
        </article>
      </a>

      <a href="/trabalhos/jogo-da-nave" class="mansory-item">
        <article>
          <figure>
            <img class="img" src="/uploads/imagens/jogo-da-nave.webp" alt="Imagem do jogo da Nave"
              title="Imagem do jogo da Nave" />
            <figcaption>
              <strong>Jogo da Nave</strong> usando o framework
              <strong>Phaser</strong>
            </figcaption>
          </figure>
        </article>
      </a>

      <a href="/trabalhos/super-mario" class="mansory-item">
        <article>
          <figure>
            <img class="img" src="/uploads/imagens/super-mario.webp" alt="Imagem do jogo do Super Mario Bros"
              title="Imagem do jogo do Super Mario Bros" />
            <figcaption>
              <strong>Clone</strong> do
              <strong>Super Mario Bros</strong> desenvolvido usando o framework
              <strong>Phaser</strong>
            </figcaption>
          </figure>
        </article>
      </a>
    </div>
  </div>
</section>

<sections id="contato" class="info-container">
  <div class="container-contato flex-container">
    <div class="info-item info-ico flex-item">
      <i class="fas fa-info-circle"></i>
    </div>
    <hr class="flex-item" />
    <div class="info-item sub-title flex-item">
      <h3>Converse diretamente comigo e tire suas dúvidas</h3>
    </div>
    <hr class="flex-item" />
    <div class="info-item title flex-item">
      <h2>Entre em Contato</h2>
    </div>
    <!-- <hr class="info-item"> -->
    <div class="info-item flex-container buttons">
      <a href="/contato" class="btn">Contate-me</a>
    </div>
  </div>
</sections>