/* Site */

.site{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "mensagem"
    "main"
    "footer";
}

.header{
    grid-area: header;
}

.mensagem{
    grid-area: mensagem;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}
