<!-- SEO Geral -->
<title>Diego Matos | Contato</title>
<meta name="description" content="P치gina para entrar em contato com o desenvolvedor Diego Matos.">
<link rel="canonical" href="https://devdiegomatos.com.br/contato">
<meta name="author" content="Diego Matos">
<meta name="robots" content="index">

<!-- Google+ / Schema.org -->
<meta itemprop="name" content="Diego Matos | Contato">
<meta itemprop="description" content="P치gina para entrar em contato com o desenvolvedor Diego Matos.">
<meta itemprop="image" content="/uploads/imagens/contato-banner.webp">
<!-- <link href="https://plus.google.com/+SuaPagina" rel="publisher"> -->

<!-- Open Graph Facebook -->
<meta property="og:title" content="Diego Matos | Contato">
<meta property="og:description" content="P치gina para entrar em contato com o desenvolvedor Diego Matos."/>
<meta property="og:url" content="https://devdiegomatos.com.br/contato">
<meta property="og:site_name" content="Portfolio do desenvolvedor Diego Matos"/>
<meta property="og:type" content="website">
<meta property="og:image" content="/uploads/imagens/contato-banner.webp">
<meta property="og:image:alt" content="Foto do Desenvolvedor Diego Matos">
<meta property="og:locale" content="pt_BR">

<!-- Twitter -->
<meta name="twitter:title" content="Diego Matos | Contato">
<meta name="twitter:description" content="P치gina para entrar em contato com o desenvolvedor Diego Matos.">
<meta name="twitter:url" content="https://devdiegomatos.com.br/contato">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="/uploads/imagens/contato-banner.webp">
<!-- <meta name="twitter:creator" content="@estevanmaito"> -->
<!-- <meta name="twitter:site" content="@empresa"> -->