<h1 class="title">Trabalhos</h1>
<hr>
<div id="mansory-grid" class="mansory-grid">
  <a href="/trabalhos/flappybird" class="mansory-item">
    <article>
      <figure>
        <img class="img" src="/uploads/imagens/flappybird.webp" alt="Imagem do jogo FlappyBird"
          title="Imagem do jogo FlappyBird" />
        <figcaption>
          <strong>Clone</strong> do <strong>FlappyBird</strong> com
          <strong>banco de dados</strong>, usando <strong>Node JS</strong> e
          <strong>MongoDB</strong> no BackEnd
        </figcaption>
      </figure>
    </article>
  </a>

  <a href="/trabalhos/jogo-da-nave" class="mansory-item">
    <article>
      <figure>
        <img class="img" src="/uploads/imagens/jogo-da-nave.webp" alt="Imagem do jogo da Nave"
          title="Imagem do jogo da Nave" />
        <figcaption>
          <strong>Jogo da Nave</strong> usando o framework
          <strong>Phaser</strong>
        </figcaption>
      </figure>
    </article>
  </a>

  <a href="/trabalhos/super-mario" class="mansory-item">
    <article>
      <figure>
        <img class="img" src="/uploads/imagens/super-mario.webp" alt="Imagem do jogo do Super Mario Bros"
          title="Imagem do jogo do Super Mario Bros" />
        <figcaption>
          <strong>Clone</strong> do
          <strong>Super Mario Bros</strong> desenvolvido usando o framework
          <strong>Phaser</strong>
        </figcaption>
      </figure>
    </article>
  </a>
</div>